body {
  background-color: #282828;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.container-aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#musica{
  color: #fff;
  font-size: 50px;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#informacoes-faixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}


#anterior,
#proximo {
  font-size: 3rem;
  color: #fff;
}

#play-pause {
  font-size: 4rem;
  color: #fff;
}

#container-botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}